
$color__highlight: #e50f69;
$color__highlight-on-dark: #D2E8BE;

$color__background-body: #fff;
$color__background-header: #222;
$color__background-hr: #eee;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__link: $color__highlight;
$color__link-on-dark: $color__highlight-on-dark;

$color__text-main: #222;
$color__text-on-dark: #FAFAFA;
$color__text-meta: #AAA;

$color__border-abbr: #666;

// Form colors

$color__text-input: #666;
$color__text-input-focus: #111;
$color__background-button: #e6e6e6;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
