h1, h2, h3, h4 {
	margin: 1.4em 0 0.8em;
	font-weight: bold;
}

h1 {
	font-size: scale-up( 1rem, 5 );
}

h2 {
	font-size: scale-up( 1rem, 4 );
}

h3 {
	font-size: scale-up( 1rem, 3 );
	color: lighten( $color__text-main, 10% );
}

h4 {
	font-size: scale-up( 1rem, 2 );
	color: lighten( $color__text-main, 10% );
}
